<!DOCTYPE html>
<html>
<head>
<title>Response type examples</title>
</head>
<body>
<h1>Response type examples</h1>
<ol>
<li><a href="@controllers.routes.Products.version()">Products.version()</a> (text/plain)</li>
<li><a href="@controllers.routes.Products.index()">Products.index()</a> (text/html)</li>
<li><a href="@controllers.routes.Products.json()">Products.json()</a></li>
<li><a href="@controllers.routes.Products.jsonInline()">Products.jsonInline()</a></li>
<li><a href="@controllers.routes.Products.xml()">Products.xml()</a></li>
<li><a href="@controllers.routes.Products.list()">Products.list()</a></li>
<li><a href="@controllers.routes.Products.details(5010255079763L)">Products.details(ean)</a></li>
<li><a href="@controllers.routes.Products.create()">Products.create()</a></li>
<li><a href="@controllers.routes.Products.contentType()">Products.contentType()</a></li>
<li><a href="@controllers.routes.Products.contentTypeAs()">Products.contentTypeAs()</a></li>
<li><a href="@controllers.routes.Products.contentTypeAsConstant()">Products.contentTypeAsConstant()</a></li>
<li><a href="@controllers.routes.Products.session()">Products.session()</a></li>
<li><a href="@controllers.routes.Products.flash()">Products.flash()</a></li>
<li><a href="@controllers.routes.Products.barcode(5010255079763L)">Products.barcode(ean)</a></li>
</ol>
</body>
</html>