@(title: String)(content: Html)(implicit cart: Cart)
<!DOCTYPE html>
<html>
<head>
<title>@title</title>
<link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
<link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>

  <div class="screenshot">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Paper-Clip Company Inc.</a>
          <ul class="nav">
            <li><a href="@routes.Application.index">Home</a></li>
            <li><a href="@routes.Shop.catalog">Products</a></li>
            <li><a href="@routes.Application.contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <span id="cartSummary" class="label label-info">
      @cart.productCount match {
        case 0 => {
          Your shopping cart is empty.
        }

        case n => {
          You have @n items in your shopping cart.
        }
      }
    </span>
          
    <div class="container">
      @content
    </div>
  </div>
</body>
</html>
